{% extends "layout.html" %}

{% block title %} Profile {% endblock %}

{% block main %}
    <h1> Recipe Profile!</h1>
    <div class="container">
        <div class="long-copy">
         <p>
            <h4>
            Welcome to Tracker Recipe! Our recipe tracker is designed to help you organize and manage all of your favorite
            recipes in one convenient location. With our intuitive user interface, you can easily add, edit, and delete recipes,
            as well as search for new recipes to try.
            </h4>
        </p>
        <p>
            <h4>
            Our web app also allows you to share your recipes with friends and family, so you can collaborate and build your own
            virtual cookbook together. Plus, our recipe tracker can help simplify meal planning and grocery shopping by allowing
            you to easily create shopping lists based on the recipes you want to make.
            </h4>
        </p>
        <p>
            <h4>
            Whether you're a professional chef or just enjoy cooking as a hobby, our recipe tracker has everything you need to take
            your culinary skills to the next level. So why wait? Start organizing your recipes like a pro!
            </h4>
         </p>
    </div>
</div>
{% endblock %}