{% extends "layout.html" %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="current_password" name="current_password" placeholder="Current Password" type="password" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirm_password" name="confirm_password" placeholder="Confirm New Password" type="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
{% endblock %}
{% block link %}{% endblock %}
